script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
p Here is a thing I've published.
p Here is another thing I've published.
p Here is yet another thing I've published.