|<?xml version="1.0" encoding="UTF-8" ?>
Module
  ModulePrefs(title='HangDown')
    Require(feature="rpc")
    Require(feature="views")
  Content(type="html")
    |<![CDATA[
    script(src="//plus.google.com/hangouts/_/api/v1/hangout.js")
    !{content}
    |]]>