script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
script(src=appUrl+"/js/controllers.js")
link(href=appUrl+"/stylesheets/style.css", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
#HangDownContent(ng-app='', ng-controller="HangDownListCntr")
  
  ul.items
    li(ng-repeat="item in items", ng-class="{ active: (activeItem == $index), past: (activeItem > $index) }")
      p.title {{item.label}}
      p.creator {{item.creator}}

  #HangDownControls
    #HangDownButtons
      button(ng-click="regressTopic()") Regress
      button(ng-click="advanceTopic()") Advance
    #HangDownInput
      input(ng-model="newTopicBuffer")
      button(ng-click="addNewTopic()") Add