li.past
  color: lightgray

li.active
  color: red

ul.items li
  list-style-type: none
  margin-left: -1em

ul.items p.title
  font-weight: bold
  font-size: 110%
  margin-bottom: 0px

ul.items p.creator
  font-size: 70%
  background-color: navy
  color: lightgray
  margin-left: 1em
  display: inline-block
  padding: 2px 8px
  border-radius: 5px