li.past
  color: lightgray

li.active
  color: red

ul.items li
  list-style-type: none
  margin-left: -1em

ul.items p.title
  font-weight: bold

ul.items p.creator
  text-align: right
  font-size: 70%