#HangDownContent
  min-height: 100% !important
  height: 100% !important
  width: 100% !important
  min-width: 100% !important
  position: absolute




#HangDownHeader
  height: 4em
  position: absolute
  top 0
  text-align: center
  width: 100%
  background-color: lightblue

#HangDownHeader h1
  font-size: 1.5em
  padding: 0px
  margin: 5px 0px

#HangDownHeader p
  font-size: 0.9em

#HangDownHeader .highlight
  color: red



#HangDownTopics
  position: absolute
  top: 4em
  bottom: 100px
  overflow-y: scroll
  width: 100%

li.past
  color: lightgray

li.active
  color: red

#HangDownTopics li
  list-style-type: none
  margin-top: 5px
  margin-left: -3em
  padding: 0 1em
  cursor: pointer

#HangDownTopics .main
  width: 70%
  display: inline-block

#HangDownTopics .time
  width: 30%
  display: inline-block
  vertical-align: top
  text-align: right

#HangDownTopics p.title
  font-weight: bold
  font-size: 110%
  margin-bottom: 0px

#HangDownTopics p.creator
  font-size: 70%
  background-color: navy
  color: lightgray
  margin-left: 1em
  display: inline-block
  padding: 2px 8px
  border-radius: 5px
  margin-bottom: 0

#HangDownTopics button
  margin-left: 10px
  font-size: 0.8em




#HangDownControls
  height: 100px
  position: absolute
  bottom: 0
  width: 100%
  text-align: center

#HangDownButtons
  margin-bottom: 5px

#HangDownButtons button:first-child
  border-bottom-left-radius: 10px
  border-top-left-radius: 10px

#HangDownButtons button:last-child
  border-bottom-right-radius: 10px
  border-top-right-radius: 10px

#HangDownAddTopic
  margin-bottom: 5px

#HangDownConversationTimer
  font-size: 1.5em
  font-weight: bold