<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Your App Name">
    <Require feature="rpc"/>
    <Require feature="views"/>
  </ModulePrefs>
  <Content type="html">
    <![CDATA[
      <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
      <!-- Your application code -->
      <p>Here is a thing I've published.</p>
      <p>Here is another thing I've published.</p>
      <p>Here is yet another thing I've published.</p>
    ]]>
  </Content>
</Module>